@import 'mixins/mixins';
@import 'common/var';

@mixin fix-drag {
  position: relative;
  z-index: 9;
}

@include b(dialog-generate) {
  @include b(dialog) {
    min-width: 50%;
    @include when(fullscreen) {
      width: 100% !important;
      height: 100% !important;
      @include e(draggable) {
        cursor: default;
      }
    }

    @include e(header) {
      position: relative;

      .dy-button__wrap {
        @include fix-drag();

        button {
          padding: 0;
          margin-right: 6px;

          &:last-child {
            margin-right: 0;
          }
        }

        .dy-icon {
          font-size: 24px;
          width: 24px;
          height: 24px;
        }

        .fullscreen-btn {
          background: transparent;
          border: none;
          outline: none;
          cursor: pointer;

          .cancel-fullscreen {
            width: 26px;
            height: 26px;
          }
        }
        .dy-svg-icon {
          width: 24px;
          height: 24px;
          color: $--color-info;

          &:focus,
          &:hover {
            color: $--color-primary;
          }
        }
      }
    }

    @include e(body) {
      @include fix-drag();
    }

    @include e(draggable) {
      min-width: 50%;
      position: absolute;
      top: 0;
      left: 0;
      cursor: move;
    }
  }

  @include b(title) {
    @include e(wrap) {
      color: $--color-primary;
      @include fix-drag();

      .dy-icon-view {
        font-size: 18px;
      }
      .dy-title__text {
        padding-left: 6px;
        font-size: 16px;
      }
    }
  }

  .vdr {
    touch-action: none;
    position: absolute;
    box-sizing: border-box;

    &.hide-handle {
      .handle {
        background: transparent;
        border-color: transparent;
      }
    }

    &:hover {
      .handle {
        display: block;
      }
    }
  }

  .handle {
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #eee;
    border: 1px solid #333;
  }
  .handle-tl {
    top: -10px;
    left: -10px;
    cursor: nw-resize;
  }
  .handle-tr {
    top: -10px;
    right: -10px;
    cursor: ne-resize;
  }
  .handle-bl {
    bottom: -10px;
    left: -10px;
    cursor: sw-resize;
  }
  .handle-br {
    bottom: -10px;
    right: -10px;
    cursor: se-resize;
  }
}
