@import 'common/var';

@font-face {
  font-family: 'dynamic-icons2'; 
  src: url('#{$--font-path2}/dynamic-icons.woff') format('woff'),
    /* chrome, firefox */ url('#{$--font-path2}/dynamic-icons.ttf')
      format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}

[class^='dy-icon2-'],
[class*=' dy-icon2-'] {
  font-family: 'dynamic-icons2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dy-icon2-kefu:before {
  content: "\e664";
}

.dy-icon2-liwu:before {
  content: "\e665";
}

.dy-icon2-paizhao:before {
  content: "\e666";
}

.dy-icon2-lianjie:before {
  content: "\e667";
}

.dy-icon2-qianbao:before {
  content: "\e668";
}

.dy-icon2-qiandao:before {
  content: "\e669";
}

.dy-icon2-qingli:before {
  content: "\e66a";
}

.dy-icon2-quanping:before {
  content: "\e66b";
}

.dy-icon2-riqi:before {
  content: "\e66c";
}

.dy-icon2-qunzu:before {
  content: "\e66d";
}

.dy-icon2-qunzu_jianshao:before {
  content: "\e66e";
}

.dy-icon2-qunzu_tianjia:before {
  content: "\e66f";
}

.dy-icon2-remen:before {
  content: "\e670";
}

.dy-icon2-shaixuan:before {
  content: "\e671";
}

.dy-icon2-shengyin:before {
  content: "\e672";
}

.dy-icon2-shezhi:before {
  content: "\e673";
}

.dy-icon2-sousuo:before {
  content: "\e674";
}

.dy-icon2-tupian:before {
  content: "\e675";
}

.dy-icon2-suoding:before {
  content: "\e676";
}

.dy-icon2-shoucang:before {
  content: "\e677";
}

.dy-icon2-tishi1:before {
  content: "\e678";
}

.dy-icon2-tongzhi-1:before {
  content: "\e679";
}

.dy-icon2-tongzhi:before {
  content: "\e67a";
}

.dy-icon2-wenjian_sousuo:before {
  content: "\e67b";
}

.dy-icon2-wenjian_shuaxin:before {
  content: "\e67c";
}

.dy-icon2-xihuan:before {
  content: "\e67d";
}

.dy-icon2-wenjian_baohu:before {
  content: "\e67e";
}

.dy-icon2-wenjian_tishi:before {
  content: "\e67f";
}

.dy-icon2-xuanzhong:before {
  content: "\e680";
}

.dy-icon2-xiaoxi_2:before {
  content: "\e681";
}

.dy-icon2-xingbie_nv:before {
  content: "\e682";
}

.dy-icon2-xiaoxi_1:before {
  content: "\e683";
}

.dy-icon2-xingbie_nan:before {
  content: "\e684";
}

.dy-icon2-yanjing_dakai:before {
  content: "\e685";
}

.dy-icon2-yidong:before {
  content: "\e686";
}

.dy-icon2-youjian:before {
  content: "\e687";
}

.dy-icon2-yuechi:before {
  content: "\e688";
}

.dy-icon2-yanjing_guanbi:before {
  content: "\e689";
}

.dy-icon2-zhiding:before {
  content: "\e68a";
}

.dy-icon2-Home:before {
  content: "\e68b";
}

.dy-icon2-zhizhen:before {
  content: "\e68c";
}

.dy-icon2-ID:before {
  content: "\e68d";
}

.dy-icon2-yinhangka:before {
  content: "\e68e";
}

.dy-icon2-shang:before {
  content: "\e603";
}

.dy-icon2-xia:before {
  content: "\e604";
}

.dy-icon2-zuo:before {
  content: "\e605";
}

.dy-icon2-you:before {
  content: "\e606";
}

.dy-icon2-dingbu:before {
  content: "\e607";
}

.dy-icon2-dibu:before {
  content: "\e608";
}

.dy-icon2-shang1:before {
  content: "\e609";
}

.dy-icon2-xia1:before {
  content: "\e60a";
}

.dy-icon2-you1:before {
  content: "\e60b";
}

.dy-icon2-zuo1:before {
  content: "\e60c";
}

.dy-icon2-zuo2:before {
  content: "\e60d";
}

.dy-icon2-shangxia:before {
  content: "\e60e";
}

.dy-icon2-you2:before {
  content: "\e60f";
}

.dy-icon2-zuoyou:before {
  content: "\e610";
}

.dy-icon2-fangda:before {
  content: "\e611";
}

.dy-icon2-zhankai:before {
  content: "\e612";
}

.dy-icon2-suoxiao:before {
  content: "\e613";
}

.dy-icon2-shouqi:before {
  content: "\e614";
}

.dy-icon2-shang2:before {
  content: "\e615";
}

.dy-icon2-you3:before {
  content: "\e616";
}

.dy-icon2-zuo3:before {
  content: "\e617";
}

.dy-icon2-xia2:before {
  content: "\e618";
}

.dy-icon2-shang3:before {
  content: "\e619";
}

.dy-icon2-zuo4:before {
  content: "\e61a";
}

.dy-icon2-you4:before {
  content: "\e61b";
}

.dy-icon2-xia3:before {
  content: "\e61c";
}

.dy-icon2-zuo5:before {
  content: "\e61d";
}

.dy-icon2-you5:before {
  content: "\e61e";
}

.dy-icon2-xia4:before {
  content: "\e61f";
}

.dy-icon2-shang4:before {
  content: "\e620";
}

.dy-icon2-bohao:before {
  content: "\e621";
}

.dy-icon2-lanya:before {
  content: "\e622";
}

.dy-icon2-saoyisao:before {
  content: "\e623";
}

.dy-icon2-shipin:before {
  content: "\e624";
}

.dy-icon2-shouji:before {
  content: "\e625";
}

.dy-icon2-zhendong:before {
  content: "\e626";
}

.dy-icon2-WiFi:before {
  content: "\e627";
}

.dy-icon2-ios:before {
  content: "\e628";
}

.dy-icon2-anzhuo:before {
  content: "\e629";
}

.dy-icon2-guan:before {
  content: "\e62a";
}

.dy-icon2-kai:before {
  content: "\e62b";
}

.dy-icon2-guanbi:before {
  content: "\e62c";
}

.dy-icon2-jianshao:before {
  content: "\e62d";
}

.dy-icon2-jinggao:before {
  content: "\e62e";
}

.dy-icon2-queren:before {
  content: "\e62f";
}

.dy-icon2-kaishi:before {
  content: "\e630";
}

.dy-icon2-quxiao:before {
  content: "\e631";
}

.dy-icon2-zanting:before {
  content: "\e632";
}

.dy-icon2-tianjia:before {
  content: "\e633";
}

.dy-icon2-tuichu:before {
  content: "\e634";
}

.dy-icon2-tishi:before {
  content: "\e635";
}

.dy-icon2-zhengchang:before {
  content: "\e636";
}

.dy-icon2-dengdai:before {
  content: "\e637";
}

.dy-icon2-danxian:before {
  content: "\e638";
}

.dy-icon2-shuangxian:before {
  content: "\e639";
}

.dy-icon2-dianzhuangtu:before {
  content: "\e63a";
}

.dy-icon2-bingzhuangtu:before {
  content: "\e63b";
}

.dy-icon2-quyutu:before {
  content: "\e63c";
}

.dy-icon2-shangchuan:before {
  content: "\e63d";
}

.dy-icon2-shangsheng:before {
  content: "\e63e";
}

.dy-icon2-xiajiang:before {
  content: "\e63f";
}

.dy-icon2-zhuzhuangtu:before {
  content: "\e640";
}

.dy-icon2-zhexiantu:before {
  content: "\e641";
}

.dy-icon2-zengchangtu:before {
  content: "\e642";
}

.dy-icon2-xiazai:before {
  content: "\e643";
}

.dy-icon2-anquan_changyong:before {
  content: "\e644";
}

.dy-icon2-anquan_sousuo:before {
  content: "\e645";
}

.dy-icon2-bianji_2:before {
  content: "\e646";
}

.dy-icon2-bianji_1:before {
  content: "\e647";
}

.dy-icon2-anquan_zichan:before {
  content: "\e648";
}

.dy-icon2-bifen:before {
  content: "\e649";
}

.dy-icon2-biaoqian:before {
  content: "\e64a";
}

.dy-icon2-biaoji:before {
  content: "\e64b";
}

.dy-icon2-bianjiqi:before {
  content: "\e64c";
}

.dy-icon2-caidan_2:before {
  content: "\e64d";
}

.dy-icon2-dengji:before {
  content: "\e64e";
}

.dy-icon2-cunkuan:before {
  content: "\e64f";
}

.dy-icon2-biaoqing:before {
  content: "\e650";
}

.dy-icon2-caidan_1:before {
  content: "\e651";
}

.dy-icon2-dianzan:before {
  content: "\e652";
}

.dy-icon2-fasong:before {
  content: "\e653";
}

.dy-icon2-erweima:before {
  content: "\e654";
}

.dy-icon2-fanzhuan_you:before {
  content: "\e655";
}

.dy-icon2-fanzhuan_zuo:before {
  content: "\e656";
}

.dy-icon2-fenxiang:before {
  content: "\e657";
}

.dy-icon2-geren_jianshao:before {
  content: "\e658";
}

.dy-icon2-fuzhi:before {
  content: "\e659";
}

.dy-icon2-geren_qiehuan:before {
  content: "\e65a";
}

.dy-icon2-geren_tianjia:before {
  content: "\e65b";
}

.dy-icon2-guanbi1:before {
  content: "\e65c";
}

.dy-icon2-jiesuo:before {
  content: "\e65d";
}

.dy-icon2-geren:before {
  content: "\e65e";
}

.dy-icon2-jinggao1:before {
  content: "\e65f";
}

.dy-icon2-jineshuaxin:before {
  content: "\e660";
}

.dy-icon2-jiangbei:before {
  content: "\e661";
}

.dy-icon2-hongbao:before {
  content: "\e662";
}

.dy-icon2-lajitong:before {
  content: "\e663";
}
