@import "mixins/mixins";
@import "common/var";

@include b(query-page) {
  @include b(pagination) {
    margin-top: 20px;
    text-align: right;
  }

  @include b(form-generate) {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
  }

  &__operate {
    margin-bottom: 16px;
    &-title {
      .icon {
        width: 20px;
        height: 20px;
        background: rgba($--color-primary, 0.2);
        position: relative;
        margin-right: -5px;

        &::before {
          content: " ";
          display: block;
          width: 8px;
          height: 9px;
          background: $--color-primary;
          position: absolute;
          bottom: 0;
        }
      }
      .name {
        color: #191919;
        font-size: 16px;
        font-weight: 600;
        background: transparent;
        line-height: 22px;
      }
    }

    &-button {
      flex: 1;
    }
  }

  &__search {
    .collapse-btn {
      padding: 10px;

      [class^="dy-icon-"],
      [class*=" dy-icon-"] {
        font-size: 12px;
      }
    }
    .reset-btn,
    .search-btn {
    }
  }
}
